.about{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 6rem 0 0 0;
    height: 100%;
}

@media (max-width: 970px) {
    .about{
        max-width: 700px;
    }
}

.about h1{
    text-align: center;
    margin: auto;
    font-size: 2.8rem;
    text-decoration: underline rgb(248, 217, 15) ;
}

.about-info{
    margin-top: 3rem;
    display: flex;
}

@media (max-width: 970px) {
    .about-info{
        flex-direction: column;
    }
}

.about-info img{
    max-width: 300px;
    border-radius: 50%;
}

@media (max-width: 970px) {
    .about-info img{
        margin: 0 auto;
    }
}

.info-text{
    padding: 2rem 0 0 4rem;
}

.primary{
    margin-bottom: 1.6rem;
}

.secondary{
    font-weight: 300;
    font-size: 1rem;
}

.info-text button{
    margin-top: 2rem; 
}