.footer{
    width: 100%;
    padding: 1rem 0;
    background-color: rgba(19, 19, 19, 0.8);
}

.footer-content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .footer-content{
        max-width: 900px;
    }
}

.footer-content a{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side{
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    justify-content: center;
}

.side svg {
    font-size: 3rem;
    color: #fff;
    margin-right: 1rem;
}

@media screen and (max-width:768px){
    .footer-content{
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .footer-content a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1rem 0;
    }
}