.work-container{
    padding-top: 6rem;
}

.work-container h1{
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2.8rem;
    text-decoration: underline rgb(248, 217, 15) ;
}

@media screen and (max-width:768px) {
    .project-container{
        max-width: 90% ;
        margin: auto;
        grid-template-columns: 1fr;
   }
}

.project-heading{
    font-size: 4rem;
}